@using Modulewijzer.Models;
@using Modulewijzer.DataAccess;
@using System.Data.SqlClient;
@{
    Layout = "_Layout.cshtml";
    Page.title = "Competentie aanmaken";

    Validation.RequireField("Naam", "Je moet naam toevoegen");
    Validation.RequireField("Niveau", "Je moet een niveau toevoegen");
    Validation.RequireField("Beschrijving", "Je moet een beschrijving toevoegen");

    int ModulewijzerId = 0;

    if (!Request.QueryString["ModulewijzerId"].IsEmpty())
    {
        ModulewijzerId = Convert.ToInt32(Request.QueryString["ModulewijzerId"]);
    }

    if (IsPost && Validation.IsValid())
    {
        var competentie = new Competentie()
        {
            Naam = Request.Form["Naam"],
            Niveau = Convert.ToInt32(Request.Form["Niveau"]),
            Beschrijving = Request.Form["Beschrijving"]
        };

        DbConnection.Instance.Competentie.Create(competentie);


        Response.Redirect($"Competentie_toevoegen?ModulewijzerId={ModulewijzerId}");
    }
}

<div class="row">
    <div class="col-md-5 portfolio-item">
        <h2>Nieuwe competentie toevoegen</h2>
        <form class="form-horizontal" method="post">

            <div class="form-group">
                <label for="Naam">Naam<span style="color: red;">*@Html.ValidationMessage("Naam")</span></label><br>
                <select id="Naam" name="Naam">
                    <option value="Beheren">Beheren</option>
                    <option value="Analyseren">Analyseren</option>
                    <option value="Adviseren">Adviseren</option>
                    <option value="Ontwerpen">Ontwerpen</option>
                    <option value="Realiseren">Realiseren</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Niveau">Niveau<span style="color: red;">*@Html.ValidationMessage("Niveau")</span></label><br>
                <select id="Niveau" name="Niveau">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Beschrijving">Beschrijving<span style="color: red">*@Html.ValidationMessage("Beschrijving")</span></label><br>
                <input type="text" id="Beschrijving" name="Beschrijving">
            </div>

            <div class="form-group">
                <button type="submit" name="Competentie_toevoegen" class="btn btn-primary" value="Competentie_toevoegen"><i class="fa fa-plus-square" aria-hidden="true"></i> Competentie toevoegen</button>
            </div>
        </form>
    </div>
</div>