@using Modulewijzer.Models;
@using Modulewijzer.DataAccess;
@using System.Data.SqlClient;
@{
    if (!Beveiliging.IsAuthenticated())
    {
        Response.Redirect("Default");
    }

    Layout = "_Layout.cshtml";
    Page.title = "Competentie aanmaken";

    Validation.RequireField("Groep", "Je moet een groep selecteren");
    Validation.RequireField("Naam", "Je moet naam toevoegen");
    Validation.RequireField("Niveau", "Je moet een niveau toevoegen");
    Validation.RequireField("Beschrijving", "Je moet een beschrijving toevoegen");

    int ModulewijzerId = 0;
    bool module = true;

    if (!Request.QueryString["ModulewijzerId"].IsEmpty())
    {
        ModulewijzerId = Convert.ToInt32(Request.QueryString["ModulewijzerId"]);
    }
    else
    {
        module = false;
    }

    if (IsPost && Validation.IsValid())
    {
        var competentie = new Competentie()
        {
            Naam = Request.Form["Naam"],
            Niveau = Convert.ToInt32(Request.Form["Niveau"]),
            Beschrijving = Request.Form["Beschrijving"],
            Groep = Request.Form["Groep"]
        };

        DbConnection.Instance.Competentie.Create(competentie);

        if (ModulewijzerId != 0)
        {
            Response.Redirect($"Competentie_toevoegen?ModulewijzerId={ModulewijzerId}");
        }
        else { Response.Redirect("Competenties"); }
    }
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 portfolio-item">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <h3 class="page-header">Competentie aanmaken</h3>
            </div>

            <div class="form-group">
                <label for="Groep">Groep<span style="color: red;">*@Html.ValidationMessage("Groep")</span></label><br>
                <select id="Groep" name="Groep">
                    <option value="Software">Software</option>
                    <option value="Befrijfsprocessen">Befrijfsprocessen</option>
                    <option value="Gebruikersinteractie">Gebruikersinteractie</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Naam">Naam<span style="color: red;">*@Html.ValidationMessage("Naam")</span></label><br>
                <select id="Naam" name="Naam">
                    <option value="Beheren">Beheren</option>
                    <option value="Analyseren">Analyseren</option>
                    <option value="Adviseren">Adviseren</option>
                    <option value="Ontwerpen">Ontwerpen</option>
                    <option value="Realiseren">Realiseren</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Niveau">Niveau<span style="color: red;">*@Html.ValidationMessage("Niveau")</span></label><br>
                <select id="Niveau" name="Niveau">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Beschrijving">Beschrijving<span style="color: red">*@Html.ValidationMessage("Beschrijving")</span></label><br>
                <textarea id="Beschrijving" name="Beschrijving" style="width: 390px; height: 150px;"></textarea>
            </div>

            <div class="form-group">
                @if (module == true)
                {
                    <a href="Competentie_toevoegen?ModulewijzerId=@ModulewijzerId" class="btn btn-primary" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
                }
                else
                {
                    <a href="~/Competenties.cshtml" class="btn btn-primary" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
                }
                <button type="submit" name="Competentie_aanmaken" class="btn btn-success" value="Competentie_toevoegen" style="float:right;"><i class="fa fa-plus-square" aria-hidden="true"></i> Aanmaken</button>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>