@using System.Data;
@using System.Data.SqlClient;
@using Modulewijzer.Models;
@using Modulewijzer.DataAccess;
@{
    if (!Beveiliging.IsAuthenticated())
    {
        Response.Redirect("Default");
    }

    Page.Title = "Competentie aanpassen";
    Layout = "_Layout.cshtml";

    Validation.RequireField("Groep", "Je moet een groep selecteren");
    Validation.RequireField("Naam", "Je moet naam toevoegen");
    Validation.RequireField("Niveau", "Je moet een niveau toevoegen");
    Validation.RequireField("Beschrijving", "Je moet een beschrijving toevoegen");

    int competentieId = 0;
    int ModulewijzerId = 0;
    string naam = "";
    int niveau = 0;
    string competentie_beschrijving = "";
    string competentie_groep = "";

    if (!Request.QueryString["ModulewijzerId"].IsEmpty())
    {
        ModulewijzerId = Convert.ToInt32(Request.QueryString["ModulewijzerId"]);
    }

    if (!Request.QueryString["CompetentieId"].IsEmpty())
    {
        competentieId = Convert.ToInt32(Request.QueryString["CompetentieId"]);

        Competentie competentie = DbConnection.Instance.Competentie.GetById(competentieId);

        naam = competentie.Naam;
        niveau = competentie.Niveau;
        competentie_beschrijving = competentie.Beschrijving;
        competentie_groep = competentie.Groep;
    }

    else { Response.Redirect("Competenties"); }

    if (IsPost && Validation.IsValid())
    {
        var competentie = new Competentie()
        {
            Id = competentieId,
            Naam = Request.Form["Naam"],
            Niveau = Convert.ToInt32(Request.Form["Niveau"]),
            Beschrijving = Request.Form["Beschrijving"],
            Groep = Request.Form["Groep"]
        };

        DbConnection.Instance.Competentie.Update(competentie);
        if(ModulewijzerId != 0)
        {
            Response.Redirect($"Competentie_toevoegen?ModulewijzerId={@ModulewijzerId}");
        }
        else { Response.Redirect("Competenties"); }
    }
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 portfolio-item">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <h3 class="page-header">Competentie aanpassen</h3>
            </div>

            <div class="form-group">
                <label for="Groep">Groep<span style="color: red;">*@Html.ValidationMessage("Groep")</span></label><br>
                <select id="Groep" name="Groep">
                    @{
                        switch (competentie_groep)
                        {
                            case "Bedrijfsprocessen":
                                <option value="Software">Software</option>
                                <option value="Befrijfsprocessen" selected>Befrijfsprocessen</option>
                                <option value="Gebruikersinteractie">Gebruikersinteractie</option>
                                break;
                            case "Gebruikersinteractie":
                                <option value="Software">Software</option>
                                <option value="Befrijfsprocessen">Befrijfsprocessen</option>
                                <option value="Gebruikersinteractie" selected>Gebruikersinteractie</option>
                                break;
                            default:
                                <option value="Software">Software</option>
                                <option value="Befrijfsprocessen">Befrijfsprocessen</option>
                                <option value="Gebruikersinteractie">Gebruikersinteractie</option>
                                break;
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="Naam">Naam<span style="color: red;">*@Html.ValidationMessage("Naam")</span></label><br>
                <select id="Naam" name="Naam">
                    @{
                        switch (naam)
                        {
                            case "Analyseren":
                                <option value="Beheren">Beheren</option>
                                <option value="Analyseren" selected>Analyseren</option>
                                <option value="Adviseren">Adviseren</option>
                                <option value="Ontwerpen">Ontwerpen</option>
                                <option value="Realiseren">Realiseren</option>
                                break;
                            case "Adviseren":
                                <option value="Beheren">Beheren</option>
                                <option value="Analyseren">Analyseren</option>
                                <option value="Adviseren" selected>Adviseren</option>
                                <option value="Ontwerpen">Ontwerpen</option>
                                <option value="Realiseren">Realiseren</option>
                                break;
                            case "Ontwerpen":
                                <option value="Beheren">Beheren</option>
                                <option value="Analyseren">Analyseren</option>
                                <option value="Adviseren">Adviseren</option>
                                <option value="Ontwerpen" selected>Ontwerpen</option>
                                <option value="Realiseren">Realiseren</option>
                                break;
                            case "Realiseren":
                                <option value="Beheren">Beheren</option>
                                <option value="Analyseren">Analyseren</option>
                                <option value="Adviseren">Adviseren</option>
                                <option value="Ontwerpen">Ontwerpen</option>
                                <option value="Realiseren" selected>Realiseren</option>
                                break;
                            default:
                                <option value="Beheren">Beheren</option>
                                <option value="Analyseren">Analyseren</option>
                                <option value="Adviseren">Adviseren</option>
                                <option value="Ontwerpen">Ontwerpen</option>
                                <option value="Realiseren">Realiseren</option>
                                break;
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="Niveau">Niveau<span style="color: red;">*@Html.ValidationMessage("Niveau")</span></label><br>
                <select id="Niveau" name="Niveau">
                    @{
                        switch (niveau)
                        {
                            case 2:
                                <option value=1>1</option>
                                <option value=2 selected>2</option>
                                <option value=3>3</option>
                                break;
                            case 3:
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3 selected>3</option>
                                break;
                            default:
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                break;
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="Beschrijving">Beschrijving<span style="color: red">*@Html.ValidationMessage("Beschrijving")</span></label><br>
                <textarea id="Beschrijving" name="Beschrijving" style="width: 390px; height: 150px;">@competentie_beschrijving</textarea>
            </div>

            <div class="form-group">
                @if (ModulewijzerId != 0)
                {
                    <a href="~/Competentie_toevoegen?ModulewijzerId=@ModulewijzerId" class="btn btn-primary" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
                }
                else
                {
                    <a href="~/Competenties.cshtml" class="btn btn-primary" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>

                }
                <div style="float:right;">
                    <button type="submit" name="Competentie_aanmaken" class="btn btn-success" value="Competentie_toevoegen"><i class="fa fa-save" aria-hidden="true"></i> Aanpassen</button>
                    <a class="btn btn-danger" href="Competentie_verwijderen?CompetentieId=@competentieId&ModulewijzerId=@ModulewijzerId"><i class="fa fa-trash" aria-hidden="true"></i> Verwijderen</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>