@using Modulewijzer.DataAccess;
@using System;
@using System.Data;
@using System.Data.SqlClient;
@{   
    Layout = "_Layout.cshtml";
    Page.title = "Home";

    Validation.RequireField("zoek", "Je moet zoekterm invoeren");

    int ModulewijzerId;
    string naam = "";
    string EC = "";
    string studiejaar = "";
    string periode = "";
}

<div class="table-responsive" id="zoekbalk">
    <div class="col-md-6">
        <form method="get" class="form-horizontal" name="zoeken" action="~/Zoekresultaten.cshtml">

            <div class="form-group">
                <label for="zoek">Zoeken<span style="color: red;">*@Html.ValidationMessage("zoek")</span></label>
                <input class="form-control" type="text" id="zoek" name="zoek" placeholder="zoekterm">
            </div>

            <div class="form-group">
                <select id="zoektype" name="zoektype">
                    <option value="Naam">Naam</option>
                    <option value="EC">Aantal EC</option>
                    <option value="Studiejaar">Studiejaar</option>
                    <option value="Periode">Periode</option>
                </select>
                <br /><br /><button type="submit" name="zoeken" class="btn btn-primary" value="zoeken"><i class="fa fa-search"></i> Zoeken</button>
            </div>
        </form>
    </div>
</div>

<div class="table-responsive">
    <h2>Modules</h2>
    <table class="table-bordered">
        <tr>
            <th>Naam</th>
            <th>EC`s</th>
            <th>Studiejaar</th>
            <th>Periode</th>
        </tr>
        @using (var connection = new SqlConnection(DbConnection.ConnectionString))
        {
            connection.Open();

            using (var command = connection.CreateCommand())
            {
                command.CommandText = "EXEC GetModules";

                using (var reader = command.ExecuteReader())
                {
                    while (reader.Read())
                    {
                        ModulewijzerId = reader.GetInt32(0);
                        naam = reader.GetString(1);
                        EC = Convert.ToString(reader.GetInt32(2));
                        studiejaar = Convert.ToString(reader.GetInt32(3));
                        periode = Convert.ToString(reader.GetInt32(4));
                        <tr>
                            <td>@naam</td>
                            <td>@EC</td>
                            <td>@studiejaar</td>
                            <td>@periode</td>
                            <td><a href="Modulewijzer_bekijken?ModulewijzerId=@ModulewijzerId" class="btn btn-success" role="button"><i class="fa fa-eye"></i> Openen</a></td>
                        </tr>
                    }
                }

            }
            connection.Close();
        }
    </table>
    <br>
    <a href="~/Modulewijzer_aanmaken.cshtml" class="btn btn-primary" role="button"><i class="fa fa-plus"></i> Nieuwe modulewijzer</a>
    <a href="~/Docenten.cshtml" class="btn btn-primary" role="button"><i class="fa fa-eye"></i> Docenten</a>
    <a href="~/Competenties.cshtml" class="btn btn-primary" role="button"><i class="fa fa-eye"></i> Competenties</a>
</div>