@using Modulewijzer.DataAccess;
@using System.Data.SqlClient;
@{
    Page.Title = "Docenten";
    Layout = "_Layout.cshtml";

    bool ingelogd = true;

    if (!Beveiliging.IsAuthenticated())
    {
        ingelogd = false;
    }

    int docentId = 0;
    string Voorletters = "";
    string Achternaam = "";
    string Tussenvoegsel = "";
}

<div class="table-responsive">
    <h3 class="page-header">Docenten</h3>
    <table class="table-bordered">
        <tr>
            <th>Achternaam</th>
            <th>Voorletters</th>
            <th>Tussenvoegsel</th>
        </tr>
        @using (var connection = new SqlConnection(DbConnection.ConnectionString))
        {
            using (var command = connection.CreateCommand())
            {
                connection.Open();

                command.CommandText = "EXEC GetDocenten";

                using (var reader = command.ExecuteReader())
                {
                    while (reader.Read())
                    {
                        docentId = reader.GetInt32(0);
                        Voorletters = reader.GetString(1);
                        Achternaam = reader.GetString(2);
                        Tussenvoegsel = reader.GetString(3);

                        <tr>
                            <td>@Achternaam</td>
                            <td>@Voorletters</td>
                            <td>@Tussenvoegsel</td>
                            @{
                                if (ingelogd == true)
                                {
                                    <td><a class="btn btn-primary" href="Docent_aanpassen?docentId=@docentId"><i class="fa fa-pencil" aria-hidden="true"></i> Aanpassen</a></td>
                                    <td><a class="btn btn-danger" href="Docent_verwijderen?docentId=@docentId"><i class="fa fa-trash" aria-hidden="true"></i> Verwijderen</a></td>
                                }
                            }
                        </tr>
                    }
                }

            }
            connection.Close();
        }
    </table>
    <br />
    <a href="~/Default.cshtml" class="btn btn-default" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
    @if (ingelogd == true)
    {<a href="~/Docent_aanmaken.cshtml" class="btn btn-primary" role="button"><i class="fa fa-user-plus" aria-hidden="true"></i>  Nieuwe Docent aanmaken</a>}
</div>