@using Modulewijzer.Models;
@using Modulewijzer.DataAccess;
@{
    if (!Beveiliging.IsAuthenticated())
    {
        Response.Redirect("Default");
    }

    Page.Title = "Docent aanpassen";
    Layout = "_Layout.cshtml";

    Validation.RequireField("Voorletters", "Je moet voorletters toevoegen");
    Validation.RequireField("Achternaam", "Je moet een achternaam toevoegen");

    int docentId = 0;
    int ModulewijzerId = 0;
    string voorletters = "";
    string achternaam = "";
    string tussenvoegsel = "";

    if (!Request.QueryString["ModulewijzerId"].IsEmpty())
    {
        ModulewijzerId = Convert.ToInt32(Request.QueryString["ModulewijzerId"]);
    }

    if (!Request.QueryString["docentId"].IsEmpty())
    {
        docentId = Convert.ToInt32(Request.QueryString["docentId"]);

        Docent docent = DbConnection.Instance.Docenten.GetById(docentId);

        voorletters = docent.Voorletters;
        achternaam = docent.Achternaam;
        tussenvoegsel = docent.Tussenvoegsel;
    }

    else { Response.Redirect("Docenten"); }

    if (IsPost && Validation.IsValid())
    {
        var docent = new Docent()
        {
            Id = docentId,
            Voorletters = Request.Form["Voorletters"],
            Achternaam = Request.Form["Achternaam"],
            Tussenvoegsel = Request.Form["Tussenvoegsel"]
        };

        DbConnection.Instance.Docenten.Update(docent);

        if(ModulewijzerId != 0)
        {
            Response.Redirect($"Docent_toevoegen?ModulewijzerId={ModulewijzerId}");
        }
        Response.Redirect("Docenten");
    }
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 portfolio-item">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <h3 class="page-header">Docent aanpassen</h3>
            </div>

            <div class="form-group">
                <label for="Voorletters">Voorletters<span style="color: red;">*@Html.ValidationMessage("Voorletters")</span></label><br>
                <input type="text" id="Voorletters" name="Voorletters" placeholder="J.J" value="@voorletters" size="60">
            </div>

            <div class="form-group">
                <label for="Achternaam">Achternaam<span style="color: red;">*@Html.ValidationMessage("Achternaam")</span></label><br>
                <input type="text" id="Achternaam" name="Achternaam" placeholder="De Boer" value="@achternaam" size="60">
            </div>

            <div class="form-group">
                <label for="Tussenvoegsel">Tussenvoegsel</label><br>
                <input type="text" id="Tussenvoegsel" name="Tussenvoegsel" placeholder="van" value="@tussenvoegsel" size="60">
            </div>

            <div class="form-group">
                @if (ModulewijzerId != 0)
                {
                    <a href="Docent_toevoegen?ModulewijzerId=@ModulewijzerId" class="btn btn-primary" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
                }
                else
                {
                    <a href="~/Docenten.cshtml" class="btn btn-primary" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
                }
                <div style="float:right;">
                    <button type="submit" name="Docent_aanpassen" class="btn btn-success" value="Docent_aanpassen"><i class="fa fa-save" aria-hidden="true"></i> Aanpassen</button>
                    <a class="btn btn-danger" href="Docent_verwijderen?docentId=@docentId&ModulewijzerId=@ModulewijzerId"><i class="fa fa-trash" aria-hidden="true"></i> Verwijderen</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>