@using Modulewijzer.Models;
@using Modulewijzer.DataAccess;
@using System.Data.SqlClient;
@{ 
    Layout = "_Layout.cshtml";
    Page.title = "Leraar toevoegen";

    int ModulewijzerId = 0;

    if (!Request.QueryString["ModulewijzerId"].IsEmpty())
    {
        ModulewijzerId = Convert.ToInt32(Request.QueryString["ModulewijzerId"]);
    }

    if (IsPost && Validation.IsValid())
    {
        //var moduledocent = new ModuleDocent()
        //{
        //    ModuleId = ModulewijzerId,
        //    TeacherId = Request.Form[]
        //};
    }
}

<div class="row">
    <div class="col-md-5 portfolio-item">
        <form class="form-horizontal" method="post">

            <div class="form-group">
                @using (var connection = new SqlConnection("Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=|DataDirectory|Modulewijzer.mdf;Integrated Security=True"))
                {
                    connection.Open();
                    string Tussenvoegsel = "";
                    using (var command = connection.CreateCommand())
                    {
                        command.CommandText = "SELECT DocentId, Voorletters, Achternaam, Tussenvoegsel FROM Docenten";

                        using (var reader = command.ExecuteReader())
                        {
                            <h3>Bestaande leraren toevoegen</h3>
                            while (reader.Read())
                            {
                                int id = reader.GetInt32(0);
                                string Voorletters = reader.GetString(1);
                                string Achternaam = reader.GetString(2);
                                Tussenvoegsel = reader.GetString(3);
                                <div><p><input type="checkbox" id="Leraar" name="Leraar"> @Achternaam, @Tussenvoegsel, @Voorletters</p></div>
                            }
                            <a href="Leraar_aanmaken?ModulewijzerId=@ModulewijzerId" class="btn btn-primary" role="button">Nieuwe leraar aanmaken</a>
                        }

                    }
                    connection.Close();
                }
            </div>
        </form>
    </div>
</div>