@using Modulewijzer.Models;
@using Modulewijzer.DataAccess;
@using System.Data.SqlClient;
@{
    Layout = "_Layout.cshtml";
    Page.title = "Leraar toevoegen";

    int ModulewijzerId = 0;
    int docentId = 0;
    string Voorletters = "";
    string Achternaam = "";
    string Tussenvoegsel = "";

    if (!Request.QueryString["ModulewijzerId"].IsEmpty())
    {
        ModulewijzerId = Convert.ToInt32(Request.QueryString["ModulewijzerId"]);
    }

    if (!Request.Form["Leraar_toevoegen"].IsEmpty())
    {
        //Code om leraar te assignen aan een module
    }

    if (!Request.Form["Leraar_verwijderen"].IsEmpty())
    {
        //Code om leraar te unassignen aan een module
    }
}

<form method="post" id="Leraar_toevoegen"></form>
<form method="post" id="Leraar_verwijderen"></form>

<div class="table-responsive">
    <h3>Leraren aan modulewijzer toevoegen</h3>
    <table class="table-bordered">
        <tr>
            <th>Achternaam</th>
            <th>Voorletters</th>
            <th>Tussenvoegsel</th>
        </tr>
        @using (var connection = new SqlConnection(DbConnection.ConnectionString))
        {
            connection.Open();
            using (var command = connection.CreateCommand())
            {
                command.CommandText = "SELECT DocentId, Voorletters, Achternaam, Tussenvoegsel FROM Docenten";

                using (var reader = command.ExecuteReader())
                {
                    while (reader.Read())
                    {
                        docentId = reader.GetInt32(0);
                        Voorletters = reader.GetString(1);
                        Achternaam = reader.GetString(2);
                        Tussenvoegsel = reader.GetString(3);
                        <tr>
                            <td>@Achternaam</td>
                            <td>@Voorletters</td>
                            <td>@Tussenvoegsel</td>
                            <td><button type="submit" class="btn btn-success" value="@docentId" form="Leraar_toevoegen"><i class="fa fa-plus" aria-hidden="true"></i>  Toevoegen</button></td>
                        </tr>
                    }
                }

            }
            connection.Close();
        }
    </table>
    <br />
    <a href="Modulewijzer_bekijken?ModulewijzerId=@ModulewijzerId" class="btn btn-default" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
    <a href="Leraar_aanmaken?ModulewijzerId=@ModulewijzerId" class="btn btn-primary" role="button"><i class="fa fa-user-plus" aria-hidden="true"></i>  Nieuwe leraar aanmaken</a>
</div>