@using Modulewijzer.Models;
@using Modulewijzer.DataAccess;
@using System.Data.SqlClient;
@{
    Page.Title = "Leraar aanmaken";
    Layout = "_Layout.cshtml";

    Validation.RequireField("Voorletters", "Je moet voorletters toevoegen");
    Validation.RequireField("Achternaam", "Je moet een achternaam toevoegen");

    int ModulewijzerId = 0;

    if (!Request.QueryString["ModulewijzerId"].IsEmpty())
    {
        ModulewijzerId = Convert.ToInt32(Request.QueryString["ModulewijzerId"]);
    }

    if (IsPost && Validation.IsValid())
    {
        var docent = new Docent()
        {
            Voorletters = Request.Form["Voorletters"],
            Achternaam = Request.Form["Achternaam"],
            Tussenvoegsel = Request.Form["Tussenvoegsel"]
        };

        DbConnection.Instance.Docenten.Create(docent);

        Response.Redirect($"Leraar_toevoegen?ModulewijzerId={ModulewijzerId}");
    }
}

<div class="row">
    <div class="col-md-5 portfolio-item">
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <h3>Nieuwe leraar aanmaken</h3>
            </div>

            <div class="form-group">
                <label for="Voorletters">Voorletters<span style="color: red;">*@Html.ValidationMessage("Voorletters")</span></label><br>
                <input type="text" id="Voorletters" name="Voorletters" placeholder="J.J">
            </div>

            <div class="form-group">
                <label for="Achternaam">Achternaam<span style="color: red;">*@Html.ValidationMessage("Achternaam")</span></label><br>
                <input type="text" id="Achternaam" name="Achternaam" placeholder="De Boer">
            </div>

            <div class="form-group">
                <label for="Tussenvoegsel">Tussenvoegsel</label><br>
                <input type="text" id="Tussenvoegsel" name="Tussenvoegsel" placeholder="van">
            </div>

            <div class="form-group">
                <a href="Leraar_toevoegen?ModulewijzerId=@ModulewijzerId" class="btn btn-default" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
                <button type="submit" name="Leraar_add" class="btn btn-primary" value="Leraar_add"><i class="fa fa-user-plus" aria-hidden="true"></i> Leraar aaamaken</button>
            </div>
        </form>
    </div>
</div>