@using Modulewijzer.Models;
@using Modulewijzer.DataAccess;
@using System.Data.SqlClient;
@{   

    Layout = "_Layout.cshtml";
    Page.title = "Modulewijzer aanmaken";

    Validation.RequireField("Naam", "Je moet een naam invoeren");
    Validation.RequireField("EC", "Je moet een aantal EC`s invoeren");
    Validation.RequireField("Studiejaar", "Je moet een studiejaar invoeren");
    Validation.RequireField("Periode", "Je moet een periode invoeren");

    if (IsPost && Validation.IsValid())
    {
        var module = new Module()
        {
            Naam = Request.Form["Naam"],
            AantalEcs = Convert.ToInt32(Request.Form["EC"]),
            StudieJaar = Convert.ToInt32(Request.Form["Studiejaar"]),
            Periode = Convert.ToInt32(Request.Form["Periode"]),
            Werkvorm = Request.Form["Werkvorm"],
            Leeruitkomsten = Request.Form["Leeruitkomsten"],
            Literatuur = Request.Form["Literatuur"],
            Planning = Request.Form["Planning"]
        };

        DbConnection.Instance.Module.Create(module);
        Response.Redirect("Default");
    }
}

<div class="row">
    <div class="col-md-5 portfolio-item">
        <form class="form-horizontal" method="post">

            <div class="form-group">
                <label for="Naam">Naam modulewijzer<span style="color: red;">*@Html.ValidationMessage("Naam")</span></label>
                <input class="form-control" type="text" id="Naam" name="Naam" placeholder="Naam modulewijzer">
            </div>

            <div class="form-group">
                <label for="EC">Aantal EC`s<span style="color: red;">*@Html.ValidationMessage("EC")</span></label>
                <input class="form-control" type="text" id="EC" name="EC" placeholder="Aantal EC`S">
            </div>

            <div class="form-group">
                <label for="Studiejaar">Studiejaar<span style="color: red;">*@Html.ValidationMessage("Studiejaar")</span></label>
                <input class="form-control" type="text" id="Studiejaar" name="Studiejaar" placeholder="Studiejaar">
            </div>

            <div class="form-group">
                <label for="Periode">Periode<span style="color: red;">*@Html.ValidationMessage("Periode")</span></label>
                <input class="form-control" type="text" id="Periode" name="Periode" placeholder="Periode">
            </div>

            <div class="form-group">
                <label for="Werkvorm">Werkvorm(en)</label>
                <input class="form-control" type="text" id="Werkvorm" name="Werkvorm" placeholder="Hoorcollege, werkcollege">
            </div>

            <div class="form-group">
                <label for="Leeruitkomsten">Leeruitkomsten</label>
                <input class="form-control" type="text" id="Leeruitkomsten" name="Leeruitkomsten" placeholder="Maximaal 5">
            </div>

            <div class="form-group">
                <label for="Literatuur">Literatuur</label>
                <input class="form-control" type="text" id="Literatuur" name="Literatuur" placeholder="Literatuur">
            </div>

            <div class="form-group">
                <label for="Planning">Planning</label>
                <input class="form-control" type="text" id="Planning" name="Planning" placeholder="Planning">
            </div>

            <div class="form-group">
                <a href="~/Default.cshtml" class="btn btn-default" role="button"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Terug</a>
                <button type="submit" name="Modulewijzer_create" class="btn btn-primary" value="Modulewijzer_create"><i class="fa fa-plus"></i> Modulewijzer aanmaken</button>
            </div>
        </form>
    </div>
</div>